/*
Optional styles
*/

body {
    background-color: #222;
    color: #eaeaea;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

.splide__optional-button-container {
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.splide__slide {
    min-height: 200px;
    text-align: center;
}
